<ion-view title="Upload picture">

 <ion-nav-bar align-title="center" class="bar-calm nav-title-slide-ios7">
      
    </ion-nav-bar>

    <ion-content padding="'true'" class="has-header">
        <div>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
        </div>
        <button ng-click = "takePhoto()" class="button button-calm button-outline" style="width:40%; margin:15px;">上傳頭貼</button>
      	<a href="#/app/profile" class="button button-calm button-outline " style="width:40%;margin:15px; ">取消</a>
      	
    </ion-content>


<!--    
<ion-header-bar class="bar-assertive">
        <h1 class="title">Photos</h1>
    </ion-header-bar>
    <ion-content ng-controller="CemeraControl" padding="true">
        <button class="button button-full button-assertive" ng-click="takePhoto()">
            Take Photo
        </button>
        <button class="button button-full button-assertive" ng-click="choosePhoto()">
            Choose Photo
        </button>
        <center>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center"></center>
    </ion-content>
-->

</ion-view>