<ion-view title="驗證">

<ion-nav-bar align-title="center" class="bar-calm nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
 </ion-nav-bar>

  
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="input_number">
                <input type="text" placeholder="請由email取得認証碼"  ng-model="data.emailverification">
            </label>
        </form>
        <button class="button button-calm button-block " ng-click="Check()" >送出</button>

    </ion-content>
</ion-view>