<ion-view title="Friends">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search">
            </label>
        </form>
        <ion-list>
            <ion-item menu-close="">friend1</ion-item>
            <ion-item menu-close="">friend2</ion-item>
            <ion-item menu-close="">friend3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>