<!doctype html>
<html>
<body ng-app >
<script src="lib/ionic/js/ng-onload.min.js"></script> <!--history.html要用的-->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="historyCtrl.js"></script>

<ion-view title="History" cache-view="false">

    <ion-content padding="'true'" class="has-header" >
        <form class="list"></form>
        <div ng-repeat="msg in msgs track by $index" >
          <ion-item menu-close="">{{ msg }}</ion-item>
 			<!--{{ a }}-->

		</div>
    <!--<button ng-click="addLine()">Add a line</button>
   <!--  <div ng-repeat="line in lines">
      <!--  I'm a new line. {{}}
    </div>
        <ion-list></ion-list>
      <!--  <ion-list>
            <ion-item menu-close="">message1</ion-item>
            <ion-item menu-close="">message2</ion-item>
            <ion-item menu-close="">message3</ion-item>
        </ion-list> -->
    </ion-content>
</ion-view>
</body>
</html>