
<ion-view title="profile">
    <ion-content padding="'true'" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/upload_picture">
                <img>
                <h2>姓名</h2>
                <p>帳號</p>
            </ion-item>
        </ion-list>
        <ion-list></ion-list>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Line</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">手機</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">自我介紹</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
    </ion-content>
</ion-view>